/* Container for sidebar and main content */
.container {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
 
  
  /* Main content styles */
  .main-content {
    margin-top: 50px;
    margin-left: 20px;
    padding: 20px;
    width: calc(100% - 250px);
    overflow-y: auto;
  }
  
  /* Table styles */
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f4f4f4;
  }

  .iconlogo{
    width: 30px;
    height: 30px;
    cursor: pointer;
    
  } 
  
  /* Button styles */
  .edit-btn {
    padding:0px;
    margin-left: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .ban-btn {
    padding: 0px;
    color: white;
    margin-left:10px;
    border: none;
    cursor: pointer;
  }
  
  .edit-btn:hover, .ban-btn:hover {
    opacity: 0.8;
  }
  

  